// Colors
$yellow: #ffcc00;
$green: #8bc34a;
$blue: #2196f3;
$purple: #5856d5;
$gray: #a0b0b9;
$line-color: #dadada;
// GRID
$grid-width: 60.8rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 11.8rem;
