.metrics-container {
  height: 2.8rem;
  width: 100%;

  left: 4rem;

  .metrics-content {
    width: 13.9rem;

    margin: 4.08rem 0 2.42rem 3.9rem;

    font-family: Open Sans;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0rem;
    text-align: left;

    color: #4a4a4a;
  }
}
