.steps__container {
  position: absolute;
  height: 40.35rem;
  width: $grid-width;
  left: 4rem;
  top: 31.3rem;

  .row {
    // height: 10.2rem;
    // width: 58.3rem;
    &:not(:last-child) {
      border-bottom: 1px solid $gray;
    }

    display: grid;
    grid-template-columns: 4.8rem 1fr;
    grid-gap: 2rem;

    .col-1 {
      background-color: yellow;

      &--oval {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: $blue;
      }
      &--line {
        height: 78px;
        width: 10px;
        background-color: $line-color;
      }
    }

    .col-2 {
      display: grid;
      grid-template-columns: 13.2rem 29.8rem;
      grid-gap: 8.5rem;

      .left-contents {
        // background-color: green;

        .action {
          height: 28px;
          display: flex;

          &__actionValue {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
          }
          &__percent {
            &--rectangle {
              position: relative;

              background: #8bc34a;
              border-radius: 1rem;
            }
            &--text {
              position: absolute;
              font-family: Open Sans;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 14px;
              letter-spacing: 0px;
              text-align: center;
            }
          }
        }

        .number1 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          display: flex;

          &__score {
            height: 28px;

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;

            color: #4a4a4a;
          }
          &__text {
            height: 17px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #4a4a4a;
          }
        }

        .number2 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          display: flex;

          &__score {
            font-size: 16px;
          }
          &__text {
            font-size: 12px;
            color: #a0b0b9;
          }
        }
      }
      .right-contents {
        // background-color: rgb(151, 75, 4);

        font-family: Open Sans;
        font-style: normal;
        position: static;

        &__header,
        &__subHeader {
          height: 28px;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: #4a4a4a;
        }

        &__statement {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: #a0b0b9;
          margin: 6px 0px;
        }
        &__help {
          display: flex;

          height: 17px;
          font-weight: normal;
          font-size: 12px;
          line-height: 17px;
          color: #4a4a4a;
          margin: 6px 0px;

          &--text {
            &:first-child {
              margin-left: 3px;
            }

            color: $blue;
            &:not(:last-child) {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}
