.steps__container {
  position: absolute;
  height: 40.35rem;
  width: $grid-width;
  left: 4rem;
  top: 31.3rem;

  .row {
    height: 10.2rem;
    width: 58.3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    grid-gap: 1rem;

    .col-1 {
      background-color: green;
      display: flex;

      .shape {
        display: flex;
        flex-direction: columns;

        &--oval {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          background-color: $blue;
        }
        &--line {
          height: 78px;
          width: 10px;
          background-color: $line-color;
        }
      }

      .content {
        display: flex;
        flex-direction: columns;

        height: 94.5999984741211px;
        width: 132px;

        .action {
          flex: 1;
          order: 1;
          display: flex;
          flex-direction: rows;
          height: 28px;
          width: 129px;

          &__col1 {
            position: absolute;
            height: 28px;

            font-family: Open Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #4a4a4a;
          }
          &__col2 {
            &--rectangle {
              position: relative;
              height: 18px;
              width: 37px;
              border-radius: 10px;
              background: #8bc34a;
              &-text {
                position: absolute;
                height: 14px;
                left: 35.78%;
                right: 62.27%;
                top: calc(50% - 14px / 2 - 64.7px);

                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;

                text-align: center;

                color: #ffffff;
              }
            }
          }
        }
        .number1 {
          flex: 1;
          order: 1;

          display: grid;
          height: 28px;
          width: 129px;

          &__col1 {
            position: absolute;
            height: 28px;
            left: 29.22%;
            right: 65.86%;
            top: calc(50% - 28px / 2 - 26.5px);

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;

            color: #4a4a4a;
          }
          &__col2 {
            position: absolute;
            height: 17px;
            left: 34.92%;
            right: 60.7%;
            top: calc(50% - 17px / 2 - 27px);

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #4a4a4a;
          }
        }
        .number2 {
          flex: 1;
          order: 1;

          display: grid;
          height: 28px;
          width: 129px;
          &__col1 {
            position: absolute;
            height: 28px;
            left: 29.22%;
            right: 65.86%;
            top: calc(50% - 28px / 2 + 6.5px);

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;

            color: #a0b0b9;
          }
          &__col2 {
            position: absolute;
            height: 17px;
            left: 34.92%;
            right: 60.47%;
            top: calc(50% - 17px / 2 + 4px);

            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;

            color: #a0b0b9;
          }
        }
      }
    }

    .col-2 {
      background-color: yellow;
      height: 10.2rem;
      width: 29.8rem;
      font-family: Open Sans;
      font-style: normal;
      position: static;

      &__header,
      &__subHeader {
        height: 28px;

        font-weight: 600;
        font-size: 16px;
        line-height: 28px;

        color: #4a4a4a;
      }

      &__statement {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #a0b0b9;
        margin: 6px 0px;
      }
      &__help {
        display: flex;
        flex-direction: row;

        height: 17px;
        font-weight: normal;
        font-size: 12px;
        line-height: 17px;
        color: #4a4a4a;
        margin: 6px 0px;

        &--col1 {
        }
        &--col2 {
        }
        &--col3 {
        }
      }
    }
  }
}
