.steps__container {
  position: absolute;
  height: 40.35rem;
  width: $grid-width;
  left: 4rem;
  top: 31.3rem;

  .row {
    display: grid;
    grid-template-columns: 4.8rem 1fr;
    grid-gap: 2rem;

    .col-1 {
      position: relative;
      display: grid;
      grid-template-rows: 4.8rem 7.8rem;

      &__oval {
        position: relative;
        height: 4.8rem;
        width: 4.8rem;
        border-radius: 50%;
        background-color: $blue;

        &--icon {
          @include perfectCenter;
          font-size: 1.6rem;
          color: white;
        }
      }
      &__line {
        height: 78px;
        width: 10px;
      }
    }

    .col-2 {
      display: grid;
      grid-template-columns: 13.2rem 29.8rem;
      grid-gap: 8.5rem;

      &:not(:last-child) {
        border: 1px solid red;
      }

      .left-contents {
        .action {
          height: 28px;
          display: grid;
          grid-template-columns: repeat(2, 8rem);
          grid-column-gap: 0rem;

          &__actionValue {
            font-family: Open Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0px;
            color: $black;

            &-negative {
              color: $red;
            }
          }
          &__percent {
            margin-top: 0.5rem;
            &--rectangle {
              height: 1.8rem;
              width: 3.7rem;
              position: relative;
              border-radius: 1rem;

              &-positive {
                background-color: $green;
              }
              &-negative {
                background-color: $red;
              }
            }
            &--text {
              position: absolute;
              font-family: Open Sans;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 14px;
              letter-spacing: 0px;
              color: #ffffff;

              @include perfectCenter;
            }
          }
        }

        .number1 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          display: grid;
          grid-template-columns: repeat(2, 8rem);
          grid-column-gap: 0rem;

          &__score {
            font-size: 20px;
            color: $black;
          }
          &__text {
            margin-top: 0.3rem;
            font-size: 12px;
            color: $black;
          }
        }

        .number2 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          color: #a0b0b9;
          display: grid;
          grid-template-columns: repeat(2, 8rem);
          grid-column-gap: 0rem;

          &__score {
            font-size: 20px;
            line-height: 28px;
          }
          &__text {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
      .right-contents {
        font-family: Open Sans;
        font-style: normal;
        position: static;

        &__header,
        &__subHeader {
          height: 28px;
          font-weight: 600;
          font-size: 16px;
          line-height: 28px;
          color: $black;

          &-positive {
            color: $black;
          }
          &-negative {
            color: $red;
          }
        }

        &__statement {
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: $gray;
          margin: 6px 0px;
        }
        &__help {
          display: flex;

          height: 17px;
          font-weight: normal;
          font-size: 12px;
          line-height: 17px;
          color: $black;
          margin: 6px 0px;

          &--text {
            &:first-child {
              margin-left: 3px;
            }

            color: $blue;
            &:not(:last-child) {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}
